[submodule "day1foundry/lib/forge-std"]
	path = day1foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day2foundry/lib/forge-std"]
	path = day2foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day3foundry/lib/forge-std"]
	path = day3foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day4foundry/lib/forge-std"]
	path = day4foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day5foundry/lib/forge-std"]
	path = day5foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day6foundry/lib/forge-std"]
	path = day6foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day7foundry/lib/forge-std"]
	path = day7foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day7foundry/lib/openzeppelin-contracts"]
	path = day7foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
