[submodule "day1foundry/lib/forge-std"]
	path = day1foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day2foundry/lib/forge-std"]
	path = day2foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
