[submodule "day1foundry/lib/forge-std"]
	path = day1foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day2foundry/lib/forge-std"]
	path = day2foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day3foundry/lib/forge-std"]
	path = day3foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day4foundry/lib/forge-std"]
	path = day4foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day5foundry/lib/forge-std"]
	path = day5foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day6foundry/lib/forge-std"]
	path = day6foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day7foundry/lib/forge-std"]
	path = day7foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day7foundry/lib/openzeppelin-contracts"]
	path = day7foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "day8foundry/lib/forge-std"]
	path = day8foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day8foundry/lib/openzeppelin-contracts"]
	path = day8foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "day9foundry/lib/forge-std"]
	path = day9foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day9foundry/lib/openzeppelin-contracts"]
	path = day9foundry/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "day10foundry/lib/forge-std"]
	path = day10foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day10foundry/lib/openzeppelin-contracts"]
	path = day10foundry/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "day11foundry/lib/forge-std"]
	path = day11foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day12foundry/lib/forge-std"]
	path = day12foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day13foundry/lib/forge-std"]
	path = day13foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day14foundry/lib/forge-std"]
	path = day14foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day15foundry/lib/forge-std"]
	path = day15foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day15foundry/lib/openzeppelin-contracts"]
	path = day15foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
